<h1 md-dialog-title>Add new activity</h1>

<form md-dialog-content [formGroup]="form">
  <md-form-field class="example-full-width">
    <input mdInput placeholder="Name" formControlName="name">
  </md-form-field>

  <md-select placeholder="Project" #select="mdSelect"
             formControlName="projectKey"
             (change)="onChange($event)">
    <!--<md-select-trigger>{{ select.selected?.viewValue }}</md-select-trigger>-->
    <md-option [style.backgroundColor]="'#9e9e9e'" [style.color]="'#fff'"
               value="">Inbox</md-option>
    <md-option *ngFor="let project of projects | async"
               [style.backgroundColor]="project.color" [style.color]="'#fff'"
               [value]="project.$key">{{ project.name }}</md-option>
    <md-option value="new">Create new...</md-option>
  </md-select>
</form>

<div md-dialog-actions>
  <button md-button (click)="dialogRef.close()" tabindex="-1">No Thanks</button>
  <button md-button (click)="save()" tabindex="2">Ok</button>
</div>
