<h1 md-dialog-title>Create new project</h1>
<form md-dialog-content [formGroup]="form">
  <md-form-field class="example-full-width">
    <input mdInput placeholder="Project Name" formControlName="name">
  </md-form-field>

  <md-button-toggle-group #group="mdButtonToggleGroup" formControlName="color">
    <md-button-toggle *ngFor="let color of colors"
                      [style.background]="color.value"
                      [value]="color.value">&nbsp;</md-button-toggle>
  </md-button-toggle-group>
</form>
<div md-dialog-actions>
  <button md-button (click)="dialogRef.close()" tabindex="-1">No Thanks</button>
  <button md-button [md-dialog-close]="form.value" tabindex="2">Ok</button>
</div>
